body {
    background-color: #064072;
}
header, footer {
    color: white;
    padding: 10px 0;
    background-color: #015db9;
}
h2 {
    padding: 15px;
    color: white;
}
.card {
    width: calc(100% / 3 - 30px);
    margin: 0 15px 30px;
    cursor: pointer;
    border: none;
}
.card .card-img-top {
    height: 400px;
}
img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.card-body span.vote-stars {
    font-size: 0.8rem;
    color: gold;
    position: absolute;
    top: 5px;
    right: 5px;
}
h5.card-title {
    margin-bottom: -8px;
}
.card-body span.info {
    font-style: italic;
    font-size: 0.8rem;
}
p.card-text {
    margin-top: 3px;
}